:root {
  /*--PRIMARY: #9F1997;*/
  /*--PRIMARY-LIGHT: #D889F2;*/
  /*--SECONDARY: #FFB140;*/
  --BLACK: #1F2229;
  --GREY: #E9EDF2;
  --GREY-LIGHT: #F6F8FA;

  --PRIMARY: #A63A9F;
  --PRIMARY-DARKER: #91338B;
  --PRIMARY-LIGHTER: #C276BD;
  --SECONDARY: #222837;
}
